


  /* Hide scrollbar for Chrome, Safari and Opera */
  html::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE and Edge */
  html {
    content: "";
    -ms-overflow-style: none;
    padding: 0ch;
    margin: 0ch;
  }


  
  body {
    content: "";
    margin: 0;
    font-size: 3rem;
    font-family: arial;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
::-webkit-input-placeholder {
    text-transform: capitalize;
  }
  ::placeholder {
    text-transform: capitalize;
  }

  h1, h2, h3, h4, h5, h6, p, blockquote, address, big, cite, code, em, font, img, small, strike, sub, sup, li, ol, ul, fieldset, form, label, legend, button, table, caption, tr, th, td, select ,input{
    border: none;
    font-size: 2.2rem;
    line-height: inherit;
    margin: 0;
    padding: 0;
    text-align: inherit;
}




.valid{
  background-color: #35b635!important;
  color: aliceblue!important;
  animation: .5s show ease-in-out;
}
.error{
  background-color: tomato!important;
  color: white!important;
  animation: .5s show ease-in-out;

}
.error::-webkit-input-placeholder{
  color: white;
}
.error::placeholder{
  color: white;
}
.error:active{
  color: white;
}


.show {
  animation: show 1s ease-in-out;
}

  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  


.blink {
  -webkit-animation: 1s blink step-end infinite!important;
  -moz-animation: 1s blink step-end infinite!important;
  -ms-animation: 1s blink step-end infinite!important;
  -o-animation: 1s blink step-end infinite!important;
  animation: 1s blink step-end infinite!important;
}






  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }



  @keyframes showImage {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }


    
  @keyframes blink {
    from, to {
      color: transparent;
    }
    50% {
      color: #2f9ee9;
    }
  }
  
  @-moz-keyframes blink {
    from, to {
      color: transparent;
    }
    50% {
      color: #2f9ee9;
    }
  }
  
  @-webkit-keyframes blink {
    from, to {
      color: transparent;
    }
    50% {
      color: #2f9ee9;
    }
  }
  
  @-ms-keyframes blink {
    from, to {
      color: transparent;
    }
    50% {
      color: #2f9ee9;
    }
  }
  
  @-o-keyframes blink {
    from, to {
      color: transparent;
    }
    50% {
      color: #2f9ee9;
    }
  }
  @keyframes show {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }
  @keyframes move {
    from {
      margin-left: -300px;
    }

    to {
      margin-left: 0;
    }
  }


  
  @keyframes moveUp {
    from {
      margin-bottom: -300px;
      opacity: 0;
    }

    to {
      margin-bottom: 0;
      opacity: 1;
    }
  }