
  /* Hide scrollbar for Chrome, Safari and Opera */
  html::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE and Edge */
  html {
    -ms-overflow-style: none;
  }
  div#disc {
    font-size: initial;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
  ul {
    /* padding: 10px; */
    animation: move 0.3s ease-in-out;
    list-style: none;
  transition: ease all .5s;
  }
  ul {
    display: grid;
    gap: 1rem;
}ul#name {
    max-width: 500px;
    margin: auto;
}

label {
    display: none;
}

img#secureIm {
    width: 100px;
    /* position: absolute; */
    margin-block: 20px;
}

form > ul > li {background: dodgerblue;color: aliceblue;padding: .6rem;margin: auto;width: 100%;}


:root {
  --marquee-width: 100%;
  --marquee-height: 14vh;
  /* --marquee-elements: 12; */ /* defined with JavaScript */
  --marquee-elements-displayed: 5;
  --marquee-element-width: calc(var(--marquee-width) / var(--marquee-elements-displayed));
  --marquee-animation-duration: calc(var(--marquee-elements) * 3s);
}

.marquee {
  width: var(--marquee-width);
  /* height: var(--marquee-height); */
  background-color: #fff;
  color: #eee;
  overflow: hidden;
  position: relative;
}
.marquee:before, .marquee:after {
  position: absolute;
  top: 0;
  width: 10rem;
  height: 100%;
  content: "";
  z-index: 1;
}
.marquee:before {
  left: 0;
  background: linear-gradient(to right, #fff 0%, transparent 100%);
}
.marquee:after {
  right: 0;
  background: linear-gradient(to left, #fff 0%, transparent 100%);
}
.marquee-content {
  list-style: none;
  height: 100%;
  display: flex;
  animation: scrolling var(--marquee-animation-duration) linear infinite;
}
/* .marquee-content:hover {
  animation-play-state: paused;
} */
@keyframes scrolling {
  0% { transform: translateX(0); }
  100% { transform: translateX(calc(-1 * var(--marquee-element-width) * var(--marquee-elements))); }
}
.marquee-content li {
  display: flex;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
  flex-shrink: 0;
  width: var(--marquee-element-width);
  max-height: 100%;
  font-size: calc(var(--marquee-height)*3/4); /* 5rem; */
  white-space: nowrap;
  /* padding: inherit; */
  /* height: fit-content; */
}

.marquee-content li img {
  width: 50%;
  /* height: 100%; */
  /* border: none; */
  margin: inherit;
}
div#container {
  display: grid;
  gap: 1rem;
  grid-template-columns: 10% 80% 10%;
}
#home_type,#home_year,#home_value {
  grid-template-columns: auto auto auto;
  padding: 0;
  width: inherit;
}

form > ul {
    gap: 1rem 3rem;
}
#container > div> img {
  max-width: 100%;
  margin: auto;
  padding: 0;
  margin: auto;
  position: relative;
}


div#container {
  display: grid;
  /* gap: 1rem; */
  grid-template-columns: 10vw auto 10vw;
  margin-inline: auto;
  /* position: relative; */
  width: 100%;
  text-align: center;
  position: relative;
}

#container > div> img {
  /* max-width: 100%; */
  margin: auto;
  padding: 0;
  margin: auto;
  position: relative;
}


#container > div {margin: auto;padding: initial;}

html {
  padding: 0ch;
  margin: 0ch;
}

body {margin: 0;padding: 2ch;max-width: calc(100% - 2ch);font-size: 3rem;font-family: arial;}

div#header {
  margin: auto;
  padding: 0;
  width: 100%;
  text-align: center;
  display: block;
  overflow: hidden;
}
div#content {
  /* display: flex; */
  margin: auto;
  text-align: center;
}
input, select {
  border: none;
  border-bottom: #0d8eff 1px solid;
  padding: 1.6rem 0rem 0em;
  font-size: smaller;
  color: black;
  max-width: 500px;
  margin: auto;
  width: 100%;

}

::placeholder {
  color: black;
}

div#carriers-containers {
  /* display: none; */
  position: absolute;
  text-align: center;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 500px;
  height: 312px;
  background: white;
}
.mySlides {
  height: 450px;
  margin: auto;
  align-items: center;
  position: relative;
}
.mySlides >img {
  width: auto;
  max-height: 260px;
}
form {
  max-width: 80%;
  margin: auto;
  padding-block: 38px;
}
